VITE_PUBLIC_SZABEE_OAUTH_CLIENT_ID=your_szabee_oauth_client_id_here # pkce client id for szabee.me
VITE_LASTFM_API_KEY=your_lastfm_api_key_here # Last.fm API key
VITE_LASTFM_API_SECRET=your_lastfm_api_secret_here # Last.fm API secret
UPSTASH_REDIS_REST_URL=your_upstash_redis_rest_url_here # Upstash Redis REST URL
UPSTASH_REDIS_REST_TOKEN=your_upstash_redis_rest_token_here # Upstash Redis REST token